:root {
  --clr-primary: #1d1d1d;
  --clr-accent: #46cc6b;

  --clr-neutral: #fff;
  --clr-neutral-300: #a2a2a2;

  --ff-primary: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-heading: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);

  font-family: var(--ff-primary);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--clr-accent);
  background: var(--clr-neutral);
}

::selection {
  color: var(--clr-accent);
  background: var(--clr-neutral);
}

/* Utility Classes */

em[class] {
  font-style: normal;
}
em.bold {
  font-weight: 600;
}
em.extrabold {
  font-weight: 700;
}
em.black {
  font-weight: 900;
}
em.highlight {
  color: var(--clr-accent);
}

.container {
  width: min(90%, 1440px);
  margin-inline: auto;
}

a.cta {
  --button-color: var(--clr-accent);

  text-decoration: none;
  color: var(--clr-primary);
  display: inline-flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem;
  background-color: var(--button-color);
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.5em;
  margin-block: 0.5em 1.2em;
  position: relative;
}

a.cta .big {
  font-size: 2rem;
  font-weight: 800;
}

a.cta::before {
  content: "";
  position: absolute;
  right: clamp(100% + 0.8rem, 100% + 2vw, 100% + 1.2rem);
  height: 100%;
  width: 5vw;
  background-color: var(--button-color);
}

a.cta::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-color);
  z-index: -1;
  animation: btnBgHighlight 1s ease infinite;
}

@keyframes btnBgHighlight {
  from {
    scale: 1 1;
    opacity: 1;
  }
  to {
    scale: 1.2 1.5;
    opacity: 0;
  }
}

.whatsapp-img {
  width: 5rem;
}

/* Header Styles */

.header {
  font-family: var(--ff-heading);
  border-bottom: 0.4rem solid var(--clr-accent);
  padding-block: 0.9em;
}

.page-title {
  font-size: 2.18rem;
  text-transform: uppercase;
}

.page-sub-title {
  display: none;
}

/* Main styles */

.hero-title {
  font-weight: 400;
  font-size: 1.7rem;
  margin-block: 0.5em;
}

.hero-title .small {
  font-size: 1.2rem;
}

.hero-title .bold {
  margin-block-end: 0.1em;
  display: inline-block;
}

.hero-title .underline {
  white-space: nowrap;
  background-image: url("./assets/stroke-img.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-block-end: 0.8rem;
}

.hero-img {
  float: right;
  width: min(50%, 600px);
  shape-outside: polygon(-1px -8px, -0.14% 51.73%, 30.11% 48.79%, 54.65% 101.18%, 98.55% 101.71%);
  shape-margin: 2rem;
  margin-left: 1rem;
}

.chatbot-features {
  line-height: 1.5;
}

.other-features {
  line-height: 1.6;
}

em.note {
  margin-block-start: 0.5em;
  font-style: italic;
  color: var(--clr-neutral-300);
  display: inline-block;
}

.help-list {
  list-style-type: none;
  margin-block: 0.3em;
}

.help-list li::before {
  content: "➤ ";
  display: inline-block;
  margin-inline-end: 0.4em;
  margin-block: 0.2em;
  color: var(--clr-accent);
}

/* Social Links Styles */

.social-links {
  background-color: var(--clr-accent);
  display: inline-flex;
  gap: 2rem;
  padding: 1rem 2rem;
  justify-content: flex-start;
  align-items: center;
  margin-block-start: 1rem;
}

.social-links__img {
  width: 2rem;
}

@media (min-width: 1000px) {
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-sub-title {
    font-size: 1.2rem;
    display: block;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-title .small {
    font-size: 2.4rem;
  }

  .hero-title .underline {
    padding-block-end: 1.2rem;
  }

  a.cta {
    font-size: 3.68rem;
  }

  a.cta .big {
    font-size: 4.5rem;
  }

  .whatsapp-img {
    width: 8.5rem;
  }

  .chatbot-help {
    font-size: 1.4rem;
  }

  footer {
    position: absolute;
    top: 50%;
    right: 0;
  }

  .social-links {
    flex-direction: column;
    padding: 1rem;
  }
}

@media (max-width: 1370px) {
  .hero-img {
    width: min(400px, 40vw);
  }
}

@media (max-width: 600px) {
  .hero-img {
    display: none;
  }
}
